## 0. Tổng quan
- Đây là bộ dữ liệu về mua bán xe cũ ở Việt Nam bắt đầu từ năm 2023. Dữ liệu bao gồm thông tin về giá cả, số kilomet đã chạy, thông tin về người bán bao gồm số điện thoại, tên , website bán (nếu có),...  
    - Dữ liệu được lưu trong file: `car_detail_en.csv`
    - Nguồn dữ liệu: [Vietnamese Car Price](https://www.kaggle.com/datasets/nguynthanhlun/vietnamese-car-price?select=seller_en.csv)

## 1. Khai báo thư viện

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import warnings
warnings.simplefilter('ignore')

## 2. Đọc dữ liệu

In [7]:
df = pd.read_csv('C:/Users/admin/LTKHDL_2024/Data/car_detail_en.csv', encoding = 'utf-8', encoding_errors= 'ignore')
df.head(5)

,ad_id,origin,condition,car_model,mileage,exterior_color,interior_color,num_of_doors,seating_capacity,engine,...,transmission,drive_type,fuel_consumption,describe,brand,grade,year_of_manufacture,car_name,price. price,url
0,17042,Domestic assembly,New car,Truck,0 Km,White,gray,2-door,2-seat,Petrol\t1.0 L,...,Manual,RFD - Rear-wheel drive,L/100Km,Super Carry Truck 5-pound mezzanine is equipp...,Suzuki,Super Carry Truck,2022.0,Suzuki Super Carry Truck 1.0 MT 2022,249 Million,https://bonbanh.com/xe-suzuki-super_carry_truc...
1,53794,Imported,New car,SUV,0 Km,Black,Black,5-door,7-seat,Petrol\t3.4 L,...,Automatic,AWD - 4-wheel drive (AWD),10\tL/100Km,"New Toyota LANDCRUISER 300, imported from Japa...",Toyota,Land Cruiser,2022.0,Toyota Land Cruiser 3.5 V6 2022,4 Billion 286 Million,https://bonbanh.com/xe-toyota-land_cruiser-3.5...
2,73954,Domestic assembly,New car,Crossover,0 Km,Silver,Brown,5-door,8-seat,Petrol\t2.0 L,...,Automatic,RFD - Rear-wheel drive,L/100Km,**Registration fee support worth 15 million VN...,Toyota,Innova,2023.0,Toyota Innova G 2.0 AT 2023 car,885 Million,https://bonbanh.com/xe-toyota-innova-g-2.0-at-...
3,74150,Imported,New car,SUV,0 Km,White,Black,5-door,5-seat,Petrol\t1.8 L,...,Automatic,FWD - Front-wheel drive,L/100Km,"2 interior colors: black, red brown - Car ava...",Toyota,Corolla Cross,2023.0,Toyota Corolla Cross 1.8G 2023,754 Million,https://bonbanh.com/xe-toyota-corolla_cross-1....
4,87573,Domestic assembly,New car,Crossover,0 Km,Silver,gray,5-door,8-seat,Petrol\t2.0 L,...,Automatic,RFD - Rear-wheel drive,L/100Km,Toyota Innova G 100% new Equipped with 2.0 eng...,Toyota,Innova,2022.0,Toyota Innova G 2.0 AT 2022 car,850 Million,https://bonbanh.com/xe-toyota-innova-g-2.0-at-...

## 3. Khám phá dữ liệu
### 3.1. Số lượng dòng, cột của bộ dữ liệu

In [9]:
n_rows, n_cols = df.shape
print("Số lượng dòng:", n_rows, ", cột: ", n_cols)

Số lượng dòng: 30652 , cột:  21

### 3.2. Ý nghĩa mỗi cột

In [10]:
df.columns

Index(['ad_id', 'origin', 'condition', 'car_model', 'mileage',
       'exterior_color', 'interior_color', 'num_of_doors', 'seating_capacity',
       'engine', 'fuel_system', 'transmission', 'drive_type',
       'fuel_consumption', 'describe', 'brand', 'grade', 'year_of_manufacture',
       'car_name', 'price. price', 'url'],
      dtype='object')

- Dữ liệu có 21 cột bao gồm thông tin về xe như:
    - `ad_id`: Biển số xe
    - `origin`: Xuất xứ
    - `condition`: Tình trạng
    - `car_model`: Dòng xe
    - `mileage`: Số kilomet đã đi
    - `exterior_color`: Màu xe
    - `interior_color`: Màu nội thất trong xe
    - `num_of_doors`: Số cửa
    - `seating_capacity`: Số chỗ ngồi 
    - `engine`: Động cơ
    - `fuel_system`: Hệ thống nạp nhiên liệu
    - `transmission`: Hộp số
    - `drive_type`: Dẫn động
    - `fuel_consumption`: Tiêu thụ nhiên liệu
    - `describe`: mô tả 
    - `brand`: Hãng
    - `grade`: Dòng xe
    - `year_of_manufacture`: Năm sản xuất
    - `car_name`: Tên xe 
    - `price. price`: Giá 
    - `url`: Link website bán (nếu có)

### 3.3. Kiểu dữ liệu của mỗi cột

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30652 entries, 0 to 30651
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                30652 non-null  int64
 1   origin               30652 non-null  object
 2   condition            30652 non-null  object
 3   car_model            30652 non-null  object
 4   mileage              30652 non-null  object
 5   exterior_color       30652 non-null  object
 6   interior_color       30652 non-null  object
 7   num_of_doors         30652 non-null  object
 8   seating_capacity     30652 non-null  object
 9   engine               30652 non-null  object
 10  fuel_system          6742 non-null   object
 11  transmission         30652 non-null  object
 12  drive_type           30652 non-null  object
 13  fuel_consumption     30652 non-null  object
 14  describe             30652 non-null  object
 15  brand                30652 non-null  object
 16  grade                30652 non-null  object
 17  year_of_manufacture  30620 non-null  float64
 18  car_name             30652 non-null  object
 19  price. price         30652 non-null  object
 20  url                  30652 non-null  object
dtypes: float64(1), int64(1), object(19)
memory usage: 4.9+ MB

- Các cột nhìn chung có kiểu dữ liệu phù hợp.
- Có thể thay đổi các kiểu dữ liệu của các cột như `num_of_doors`, `seating_capacity`,`price. price` để dễ cho việc phân tích sau này.

### 3.4. Các cột có dữ liệu NaN

In [12]:
na_counts = df.isna().sum()
na_counts

ad_id                      0
origin                     0
condition                  0
car_model                  0
mileage                    0
exterior_color             0
interior_color             0
num_of_doors               0
seating_capacity           0
engine                     0
fuel_system            23910
transmission               0
drive_type                 0
fuel_consumption           0
describe                   0
brand                      0
grade                      0
year_of_manufacture       32
car_name                   0
price. price               0
url                        0
dtype: int64

- Có nhiều dữ liệu NaN ở `fuel_system (Hệ thống nạp nhiên liệu)` có thể xóa đi.
- Và một số ít ở `year_of_manufacture (Năm sản xuất)` không làm ảnh hưởng nhiều đến phân tích sau này.

### 3.5. Sự trùng lặp ở các dòng

In [14]:
duplicate_rows = df[df.duplicated()]
print(f"Số dòng bị trùng lặp: {duplicate_rows.shape[0]}")

Số dòng bị trùng lặp: 0